.Global_srch_wrapper{
        display: inline-block;
        width: 250px;
        position: relative;
            span.srch_icn {
                display: inline-block;
                width: 10%;
                position: absolute;
                left: 5px;
                height: 30px;
                top: 7px;
                .matreial_srch_icn{
                    font-size: 18px;
                    color: rgb(180, 180, 180);
                }
            }
            input.srch_box {
                height: 30px;
                width: 220px;
                padding-left: 25px;
                padding-right: 25px;
                border: 1px solid #ccc;
                border-radius: 10px;
                font-size: 12px;
            }
            &:focus,:focus-visible{
                outline: none;
                box-shadow: none;
            }
}