.dateinput{
    background: #fff;
    border-radius: 5px;
    .cal_icn_hldr{
        .glyphicon{
            top: 8px;
            left: 2px;
            span{
                font-size: 20px;
                color: #343a40;
            }
        }
    }
}